body{
    font-family: 'Press Start 2P', cursive;
    background-color: #503f49;
    color: white;
 
}

#menu-section{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.Pbutton{
    margin-top: 1%;
    float: right;
    cursor: pointer;
    background-color: #8a7f85;
    color: white;
    padding: 10px;
    width: 200px;
    height: 50px;
    border: none;
    margin-right: 1%;

}

.Wbutton{
    margin-top: 1%;
    float: right;
    cursor: pointer;
    background-color: #8a7f85;
    color: white;
    padding: 10px;
    width: 200px;
    height: 50px;
    border: none;
    margin-right: 1%;
}

#link{
    margin-top: 5%;
    text-align: center;
}

.lin{
    border: none;
    background-color: #434355 ;
    height: 42px;
    width: 500px;
}

.Lbutton{
    cursor: pointer;
    background-color: #8a7f85;
    color: white;
    width: 150px;
    height: 45px;
    border: none;
}

hr{
    width: 50%;
}

#panel{
    margin-top: 5%;
    text-align: center;
}

.panel-item{
    display: inline-block
}

#emergency{
    background-color: #d8322c;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}

#subpanel-top{
    width: 350px;
    font-size: 20px;
    margin-bottom: 60%;
}

#next-button{
    margin-right: 10%;
    margin-top: 2%;
    cursor: pointer;
    background-color: #8a7f85;
    color: white;
    width: 250px;
    height: 45px;
    border: none;
}

#placeholder{
    width: 200px;
}